<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @post.name %>
</p>

<table>
<tr>
  <td><strong>Comments</strong></td>
  <td></td>
</tr>
<% @post.comments.each do |comment| %>
  <tr>
    <td><%= comment.comment %></td>
    <td><%= link_to "Delete", comment, method: :delete %></td>
  </tr>
  <tr>
    <td><%= comment.updated_at %></td>
  </tr>
<% end %>

</table>

<br>

<%= form_for(@comment) do |f| %>
  <%= f.label :comment %>
  <%= f.text_area :comment %>
  <%= f.hidden_field :post_id, :value => params[:id] %>

  <%= f.submit %>
<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
